.bg_img {
    background-image: url(../../assets/images/contact-us.png);
    height: 246px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 85px;
}
.wht-txt {
    color: #FFF;
    font-size: 46px;
    font-weight: 700;
    line-height: normal;
    padding-top: 90px;
}
h4{
    font-weight: bold;
    margin-top: 2rem;
}