<div class="black_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/images/hasna_tech_wh.png">
                <div class="text-center">

                    <!-- <span class="fa fa-facebook-f green_text"></span> -->
                    <!-- <span class="fa fa-twitter green_text"></span> -->
                    <a href="https://www.youtube.com/@hasnatechnology" target="_blank"><span
                            class="fa fa-linkedin green_text"></span></a>
                    <a href="https://www.youtube.com/@hasnatechnology" target="_blank"><span
                            class="fa fa-youtube green_text"></span></a>
                   
                    <div class="mt-3 fnt_20">© 2023 HASNA TECHNOLOGY. All rights reserved</div>
                </div>
            </div>
            <div class="col-lg-4">
                <span class="fa fa-envelope-open-o fa-3x"></span>
                <div class="mt-3 fnt_22">Contact Info</div>
                <div class="fnt-16 text-center">
                    Email: info@hasnatech.com<br>
                    Singapore: <a href="tel: +65 8101 6474"><u class="clr_grn">+65 8101 6474</u></a>
                </div>
                <div class="text-center d-flex gap-3 justify-content-center">
                    <div><a class="font-small" routerLink="policy/data">Data Policy</a></div>
                    <div><a class="ml-5 font-small" routerLink="policy/cookies">Cookies Policy</a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <span class="fa fa-user-o fa-3x"></span>
                <div class="mt-3 fnt_22">Our Support</div>
                <div class="fnt-16 text-center">
                    Email: support@hasnatech.com<br>
                    Phone: <a href="tel: +6569943215"><u class="clr_grn">+65 69943215</u></a> <br>
                    <!-- Phone: <a href="tel: 044 48534474"><u class="clr_grn">044 48534474</u></a> <br> -->
                    <!-- Mobile: <a href="tel: +91 98400 33126"><u class="clr_grn">+91 98400 33126</u></a> -->
                </div>
            </div>
        </div>

    </div>


    <div class="space">
    </div>
</div>
<!-- <div class="whatsapp">
    <a href="https://wa.me/6581016474" target="_blank">
        <img class="wid20" src="assets/images/WhatsApp.png">
    </a>
</div> -->