<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the index.html file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
    
    RewriteCond %{HTTP_HOST} ^www\.hasnatech\.com [NC]
    RewriteRule ^(.*)$ https://hasnatech.com/$1 [L,R=301]
</IfModule>
