<div class="bg_img">
    <div class="container wht-txt">
        Contact Us
    </div>
</div>

<div>
    <div class="container mb-5 mt-5">
        <div class="d-flex gap-50">
            <div class="flex">
                <div class="fnt-44 ">
                    Get in touch
                </div>
                <p class="fnt-16 ">
                    We will get back to you within 24 hours, or call us everyday
                </p>
                <div class="">
                    <div class="flex-1">
                        <div><img src="assets/images/ph-icon.png"></div>
                        <div class="brd-lft"></div>
                        <div class="fnt-18">
                            <u>+6581016474</u>
                        </div>
                    </div>
                    <div class="flex-1">
                        <div> <img src="assets/images/mail-icn.png"></div>
                        <div class="brd-lft"></div>
                        <div class="fnt-18">
                            info@hasnatech.com
                        </div>
                    </div>
                    <div class="flex-1">
                        <div> <img src="assets/images/loc-icn.png"></div>
                        <div class="brd-lft"></div>
                        <div class="fnt-18">
                            122 Eunos Avenue 7, #06-04, Richfield Industrial Center<br>
                            #06-04Richfield Industrial Center
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex brd-radius">
                <form>
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <label for="exampleInputEmail1" class="form-label"></label>
                            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="Name"
                                aria-describedby="emailHelp" placeholder="Name">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="exampleInputEmail2" class="form-label"></label>
                            <input type="subject" class="form-control" id="exampleInputEmail1" formControlName="Subject"
                                aria-describedby="emailHelp" placeholder="Subject">
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"></label>
                        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="Email"
                            aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"></label>
                        <input type="" class="form-control" id="exampleInputEmail1" formControlName="Organization_Name"
                            aria-describedby="emailHelp" placeholder="Organization Name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"></label>
                        <textarea type="" class="form-control space" id="exampleInputEmail1"
                            formControlName="Your_Requirement" aria-describedby="emailHelp"
                            placeholder="Your Requirement"></textarea>
                    </div>


                    <button type="submit" class="btn btn-dark">Send Message</button>
                </form>
            </div>

        </div>

    </div>
</div>

<div class="container-fluid">
    <iframe [src]="mapsURL | safePipe" width="100%" height="315" frameborder="0" allowfullscreen webkitallowfullscreen
        mozallowfullscreen>
    </iframe>

</div>