<div class="bg_img">
    <div class="container wht-txt">
        Contact Us
    </div>
</div>

<div>
    <div class="container mb-5 mt-5">
        <div class="row gap-50">
            <div class="col-lg-6">
                <div class="fnt-44 ">
                    Get in touch
                </div>
                <p class="fnt-16 ">
                    We will get back to you within 24 hours, or call us everyday
                </p>
                <div class="">
                    <div class="flex-1">
                        <div><img src="assets/images/ph-icon.png"></div>
                        <div class="brd-lft"></div>
                        <div class="fnt-18">
                            <u>+6581016474</u>
                        </div>
                    </div>
                    <div class="flex-1">
                        <div> <img src="assets/images/mail-icn.png"></div>
                        <div class="brd-lft"></div>
                        <div class="fnt-18">
                            info@hasnatech.com
                        </div>
                    </div>
                    <div class="flex-1">
                        <div> <img src="assets/images/loc-icn.png"></div>
                        <div class="brd-lft"></div>
                        <div class="fnt-18">
                            122 Eunos Avenue 7, #06-04, Richfield Industrial Center<br>
                            #06-04Richfield Industrial Center<br>
                            Singapore
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 brd-radius">

                <form [formGroup]="employeeDetails" (ngSubmit)="submitForm()">
                    <div class="row">

                        <div class="col-lg-6 mb-3">
                            <label for="name" class="form-label"></label>
                            <input type="text" class="form-control" [attr.disabled]="formSubmitted"
                                [class.error]="employeeDetails.get('name').hasError('required') && (employeeDetails.get('name').touched || submit)"
                                id="name" formControlName="name" placeholder="Name">
                            <div class="text-danger ms-2 text-small"
                                *ngIf="employeeDetails.get('name').hasError('required') && (employeeDetails.get('name').touched || submit)">
                                {{ validationMessages.name.required }}
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="subject" class="form-label"></label>
                            <input type="text" class="form-control" [attr.disabled]="formSubmitted"
                                [class.error]="employeeDetails.get('subject').hasError('required') && (employeeDetails.get('subject').touched || submit)"
                                id="subject" formControlName="subject" placeholder="Subject">
                            <div class="text-danger ms-2 text-small"
                                *ngIf="employeeDetails.get('subject').hasError('required') && (employeeDetails.get('subject').touched || submit)">
                                {{ validationMessages.subject.required }}
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <label for="org" class="form-label"></label>
                            <input type="" class="form-control" [attr.disabled]="formSubmitted"
                                [class.error]="employeeDetails.get('org').hasError('required') && (employeeDetails.get('org').touched || submit)"
                                id="org" formControlName="org" aria-describedby="emailHelp"
                                placeholder="Organization Name">
                            <div class="text-danger ms-2 text-small"
                                *ngIf="employeeDetails.get('org').hasError('required') && (employeeDetails.get('org').touched || submit)">
                                {{ validationMessages.org.required }}
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="mobile" class="form-label"></label>
                            <input type="phone" class="form-control" [attr.disabled]="formSubmitted"
                                [class.error]="employeeDetails.get('mobile').hasError('required') && (employeeDetails.get('mobile').touched || submit)"
                                id="mobile" formControlName="mobile" placeholder="Mobile number">
                            <div class="text-danger ms-2 text-small"
                                *ngIf="employeeDetails.get('mobile').hasError('required') && (employeeDetails.get('mobile').touched || submit)">
                                {{ validationMessages.mobile.required }}
                            </div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label"></label>
                        <input type="email" class="form-control" [attr.disabled]="formSubmitted"
                            [class.error]="employeeDetails.get('email').hasError('required') && (employeeDetails.get('email').touched || submit)"
                            id="email" formControlName="email" placeholder="Email">
                        <div class="text-danger ms-2 text-small"
                            *ngIf="employeeDetails.get('email').hasError('required') && (employeeDetails.get('email').touched || submit)">
                            {{ validationMessages.email.required }}
                        </div>
                        <div class="text-danger ms-2 text-small"
                            *ngIf="employeeDetails.get('email').hasError('email') && (employeeDetails.get('email').touched || submit)">
                            {{ validationMessages.email.email }}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="req" class="form-label"></label>
                        <textarea type="" class="form-control space" [attr.disabled]="formSubmitted"
                            [class.error]="employeeDetails.get('req').hasError('required') && (employeeDetails.get('req').touched || submit)"
                            id="req" formControlName="req" placeholder="Your Requirement"></textarea>
                        <div class="text-danger ms-2 text-small"
                            *ngIf="employeeDetails.get('req').hasError('required') && (employeeDetails.get('req').touched || submit)">
                            {{ validationMessages.req.required }}
                        </div>
                    </div>

                    <div *ngIf="submit && !employeeDetails.valid" class="alert alert-danger">
                        <p class="text-small mb-0">{{errMsg}}</p>
                    </div>

                    <div *ngIf="submit && employeeDetails.valid && sucMsg != ''" class="alert alert-success">
                        <p class="text-small mb-0">{{sucMsg}}</p>
                    </div>

                    <button type="submit" [hidden]="formSubmitted" class="btn btn-dark">

                        <div *ngIf="loading" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>

                        Send Message
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- <div class="container"> -->
<iframe [src]="mapsURL | safePipe" width="100%" height="315" frameborder="0" allowfullscreen webkitallowfullscreen
    mozallowfullscreen>
</iframe>
<!-- </div> -->