.bg_img {
    background-image: url(../../assets/images/ser_bg2.png);
    height: 246px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}



.wht-txt {
    color: #FFF;
    font-size: 46px;
    font-weight: 700;
    line-height: normal;
    padding-top: 90px;
}

.fnt-40 {
    font-size: 37px;
    color: #049479;
    font-weight: 700;
}

// .fnt-20 {
//     font-size: 20px;
// }
.bg-grn{
    background-color: #049479;
}

.d-flex{
    display: flex;
    // align-items: center;
    // justify-content: space-between;
}
.gap-15 {
    gap: 15px;
}

.fnt-37 {
    font-size: 40px;
    color: #FFF;
    font-weight: 700;
}

.fnt-26 {
    font-size: 26px;
    color: #FFF;
}
.wht-txt1 {
    color: #FFF;
}
.txt-grn{
    color: #049479;
    font-weight: 700;
    font-size: 46px;
    text-align: center;
}
.num_txt{
    font-size: 20px;
    color: #636363;
    font-weight: 400;
}
.d-flex1{
    display: flex;
    align-items: center; 
}
.brd-radius{
    border-radius: 20px 20px 20px 20px;
}
.card {
    border-radius: 10px;
    padding: 18px;
    box-shadow: 10px 7px 7px 10px #ccc;
    margin: 7px;
    min-width: 325px;
    
    .card-text{
        min-height: 136px;
    }
}
.font-light{
    font-weight: 100;
}
.card-head{
    color: #049479;
    font-weight: bold;  
}
.wrap {
    flex-wrap: wrap;
    gap: 30px;
}
.bg-gry{
    background: #F5F5F5;
}

.jus-cnt{
    display: flex;
    align-items: center;
    justify-content: center
}
.upper-case{
    text-transform: uppercase;
}

.btn{
    border-color: #049479;
    border-radius: 25px;
    background: linear-gradient(104deg, #049479 0%, #00ACCC 100%);
    padding: 10px 30px;
    width: 190px;
    .txt-dec{
        text-decoration: none;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
}
.jus-cnt{
    display: flex;
    align-items: center;
    justify-content: center
}

