<div class="font-fam">
    <div class="bg_img">
        <div class="container wht-txt">
            Video Creation
        </div>
    </div>

    <div class="container">
        <div class="clr_grn1 mt-5">
            Elevating Your Brand with Engaging Video Content
        </div>
        <p class="mt-4">
            At Hasna Technology, we specialize in creating captivating video content tailored to your unique needs,
            helping you stand out in today's digital landscape.

        </p>
    </div>

    <div class="container mt-3 mb-5">
        <div class="d-flex1 mt-4 ">
            <div class=" wrap flex d-flex  justify-content-center">
                <div class="card" style="width: 18rem;" data-aos="fade-up"
                    *ngFor="let item of this.service.Videocreation;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div>
                            <img class="" src="{{item.image}}">
                        </div>
                        <div>
                            <p class="mt-2 card-head">{{item.heading}}</p>
                        </div>

                        <div>
                            <p class="card-text">{{item.paragraph}}</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <p class="mt-4 container">
        Let us help you bring your vision to life with our innovative video creation services. Stand out, engage, and
        inspire with Hasna Technology.


    </p>

    <app-action-link></app-action-link>
</div>