<div class="font-fam">
    <div class="bg_img">
        <div class="container wht-txt">
            Language Translation
        </div>
    </div>

    <div class="container">
        <div class="clr_grn1 mt-5">
            Language Translation Breaking Language Barriers, Connecting Global Audiences
        </div>
        <p class="mt-4">
            At Hasna Technology, we specialize in precise language translation services, ensuring seamless communication
            across diverse cultures and languages.
        </p>
    </div>

    <div class="container mt-3 mb-5">
        <div class="d-flex1 mt-4 ">
            <div class=" wrap flex d-flex  justify-content-around">
                <div class="card" style="width: 18rem;" data-aos="fade-up"
                    *ngFor="let item of this.service.Languagetranslation;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div><img class="" src="{{item.image}}"></div>
                        <p class="mt-2 card-head">{{item.heading}}</p>
                        <p class="card-text">{{item.paragraph}}</p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <p class="mt-4 container">
        Experience the power of seamless communication with our comprehensive language translation services. Let us help
        you connect with audiences around the globe.

    </p>

    <app-action-link></app-action-link>
</div>