.bg_img {
  background-image: url(../../assets/images/ser_bg2.png);
  height: 246px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 85px;
}

.wht-txt {
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  line-height: normal;
  padding-top: 90px;
}