<div class="font-fam">
    <div class="bg_img">
        <div class="container wht-txt">
            Custom Development
        </div>
    </div>

    <div class="container">
        <div class="clr_grn1 mt-5">
            Tailored Solutions for Your E-Learning Needs
        </div>
        <p class="mt-4">
            In the ever-evolving landscape of e-learning, we understand that one size doesn't fit all. That's why we
            offer a range of specialized services to meet your unique requirements.
        </p>
    </div>

    <div class="container mt-3 mb-5">
        <div class="d-flex1 mt-4 ">
            <div class=" wrap flex d-flex  justify-content-around">
                <div class="card" style="width: 18rem;" data-aos="fade-up"
                    *ngFor="let item of this.service.CustomDevelopment;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div><img class="" src="{{item.image}}"></div>
                        <p class="mt-2 card-head">{{item.heading}}</p>
                        <p class="card-text">{{item.paragraph}}</p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <p class="mt-4 container">
        Embrace the future of e-learning with our tailored services. Let's discuss how we can customize solutions to
        meet your organization's unique needs.
    </p>

    <div class="jus-cnt  mt-5 mb-5">
        <div class="button1" (click)="gonextContact()" class="button" type="button" class="btn btn-primary btn-lg"><a
                class="txt-dec">Get A
                Quote</a>
        </div>
    </div>
</div>