.bg_img {
    background-image: url(../../assets/images/ser_bg2.png);
    height: 246px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 90px;
}

.wht-txt {
    color: #FFF;
    font-size: 46px;
    font-weight: 700;
    line-height: normal;
    padding-top: 90px;
}

.bold-txt {
    font-weight: 800;
    font-size: 40px;
    color: #333;
    width: 602px;
}
.d-flex1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.fnt_40{
    font-size: 40px;
    color: #FFF;
    text-transform: capitalize;
    font-weight: 800;
}

.box-shw {
    color: #000;
    font-weight: 400;
    line-height: normal;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 685px;
    z-index: 1;
    position: relative;
}
.bg-grn{
    background-color: #049479;
    color: #FFF;
}
.wid-600{
    width: 600px;
}
.btn{
    border-color: #049479;
    border-radius: 25px;
    background: linear-gradient(104deg, #049479 0%, #00ACCC 100%);
    padding: 10px 30px;
    width: 190px;
    .txt-dec{
        text-decoration: none;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
}
.jus-cnt{
    display: flex;
    align-items: center;
    justify-content: center
}
