<div class="font-fam">
    <div class="bg_img">
        <div class="container wht-txt">
            AI Service
        </div>
    </div>
    <div class="container mt-5 mb-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="bold-txt"> Transforming Industries with Intelligent AI Solutions </div>
                <!-- <div class="bold-txt"> What is a <span class="clr_grn">Learning Management System?</span></div> -->
                <!-- <p class="mt-4">
                    A learning management system (LMS) is a piece of software <br>that allows a business to store,
                    manage, provide,
                    and track all training-related materials.
                </p> -->
                <div class="bg-grn mt-4 mb-4">
                    <h4 class="bold">Learning management systems allow HR personnel and business owners to:</h4>
                    <ul class="mt-4">
                        <li class="mt-2">Oversee training and e-learning throughout <br>the business</li>
                        <li class="mt-2">Training for new employees</li>
                        <li class="mt-2">Set and manage employee goals</li>
                        <li class="mt-2">Track individual progress</li>
                        <li class="mt-2">View detailed analytics</li>
                        <li class="mt-2">Identify skills gaps</li>
                        <li class="mt-2">Present data</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" alt="Management System" src="assets/images/s1.png">
            </div>
        </div>
    </div>

    <div class="mt-5 container">
        <p>
            At Hasna Technology, we harness the power of Artificial Intelligence to revolutionize how businesses operate
            and engage with their audiences.

        </p>
        <ol>
            <li class="mt-4"><b>AI Translation:</b> Break down language barriers securely with our AI-driven translation
                services, ensuring confidentiality and accuracy in cross-cultural communication.
            </li>
            <li class="mt-3"><b>AI Audio Recording:</b> Safeguard sensitive audio content with our secure AI audio
                recording solutions, leveraging encryption protocols for data protection.
            </li>
            <li class="mt-3"><b>Video Transcription:</b> Ensure the privacy of your video content with our secure AI
                transcription services, incorporating encryption to safeguard sensitive information.
            </li>
            <li class="mt-3"><b>Video to Blog/Article Conversion:</b> Protect your content integrity with our secure AI
                conversion tools, encrypting data during the conversion process to preserve confidentiality.
            </li>
            <li class="mt-3"><b>Video to E-learning Course Structure:</b> Maintain data privacy in e-learning
                initiatives with our secure AI course structuring services, implementing encryption and data deletion
                policies for compliance and confidentiality.
            </li>
            <li class="mt-3"><b>Innovation and Expertise:</b> With a deep understanding of AI technologies and their
                applications, we deliver innovative solutions that drive efficiency, productivity, and growth for our
                clients.
            </li>
            <li class="mt-3"><b>Custom AI Solutions:</b> Build tailored AI solutions with security at their core,
                integrating encryption and data management practices to protect sensitive information and ensure
                regulatory compliance.
            </li>
            <li class="mt-3"><b>Data Security Measures:</b> We prioritize data security, implementing encryption
                protocols and data deletion policies to protect your information throughout its lifecycle, ensuring
                compliance with privacy regulations.
            </li>
            <li class="mt-3"><b>Scalable and Reliable:</b> Our AI services are scalable and reliable, designed to meet
                your evolving needs while maintaining the highest standards of data security and integrity.
            </li>



        </ol>
        <!-- <p class="mt-3">
            Let us help you bring your vision to life with our innovative video creation services. Stand out, engage,
            and inspire with Hasna Technology.


        </p> -->
    </div>
    <app-action-link></app-action-link>

</div>