<div class="font-fam">
    <div class="bg_img">
        <div class="container wht-txt">
            AI Service
        </div>
    </div>

    <div class="container">
        <div class="clr_grn1 mt-5">
            Transforming Industries with Intelligent AI Solutions
        </div>
        <p class="mt-4">
            At Hasna Technology, we harness the power of Artificial Intelligence to revolutionize how businesses operate and engage with their audiences.
        </p>
    </div>

    <div class="container mt-3 mb-5">
        <div class="d-flex1 mt-4 ">
            <div class=" wrap flex d-flex  justify-content-around">
                <div class="card" style="width: 18rem;" data-aos="fade-up"
                    *ngFor="let item of this.service.AIservice;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div><img class="" src="{{item.image}}"></div>
                        <p class="mt-2 card-head">{{item.heading}}</p>
                        <p class="card-text">{{item.paragraph}}</p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <p class="mt-4 container">
        Let us help you bring your vision to life with our innovative video creation services. Stand out, engage, and
        inspire with Hasna Technology.


    </p>

    <app-action-link></app-action-link>
</div>