<div class="bg_img">
    <div class="container wht-txt">
        Pricing
    </div>
</div>

<div class=" container">
    <div class="grn-txt mt-5">
        Tailored Solutions for Every Need
    </div>
    <p class="para1 mt-2">At Hasna Technology, we believe in offering flexible pricing options that cater to your unique
        requirements. Whether you're a small business or an enterprise, our pricing plans are designed to provide value
        and quality, ensuring you receive the best solution for your goals.</p>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 18rem;" data-aos="fade-up">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <img class="" src="">
                    <p class="card-head">Popular Plan</p>
                    <div class="card-text"><span>$</span><span class="fnt-22">1399</span><span
                            class="fnt-30">Free</span></div>
                    <p class="gry-txt">No credit card required</p>
                    <div class="border-bot"></div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            Live chat + email + FB Messenger
                        </div>

                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            3-year conversations history
                        </div>

                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            Advanced widget customization
                        </div>

                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            24/7 system monitoring facility
                        </div>

                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            Engage visitors via visitor list
                        </div>

                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            Engage with automatic messages
                        </div>
                    </div>

                    <div class="mt-4 mb-2">
                        <div class="button1" class="button" type="button" class="card-btn btn-primary btn-lg"><a
                                class="txt-dec">Purchase now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card box-shw" style="width: 18rem;" data-aos="fade-up">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <img class="" src="">
                    <p class="card-head">Popular Plan</p>
                    <div class="card-text"><span>$</span><span class="fnt-30">6999</span></div>
                    <p class="gry-txt">No credit card required</p>
                    <div class="border-bot"></div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            Live chat + email + FB Messenger
                        </div>

                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            3-year conversations history
                        </div>

                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            Advanced widget customization
                        </div>

                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            24/7 system monitoring facility
                        </div>

                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            Engage visitors via visitor list
                        </div>

                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <img src="assets/images/star-icon.png">
                        </div>
                        <div class="fnt-16">
                            Engage with automatic messages
                        </div>

                    </div>

                    <div class="mt-4 mb-2">
                        <div class="button1" class="button" type="button" class="card-btn btn-primary btn-lg"><a
                                class="txt-dec">Purchase now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
         
    </div>

</div>


















<div class="pb-5">
    <div class="container ">
        <div class="d-flex1 mt-5 wrap">
            <div class="flex d-flex align-items-center justify-content-around gap-5">
                <div class="card" style="width: 18rem;" data-aos="fade-up">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <img class="" src="">
                        <p class="card-head">Popular Plan</p>
                        <div class="card-text"><span>$</span><span class="fnt-22">1399</span><span
                                class="fnt-30">Free</span></div>
                        <p class="gry-txt">No credit card required</p>
                        <div class="border-bot"></div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Live chat + email + FB Messenger
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                3-year conversations history
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Advanced widget customization
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                24/7 system monitoring facility
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Engage visitors via visitor list
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Engage with automatic messages
                            </div>
                        </div>

                        <div class="mt-4 mb-2">
                            <div class="button1" class="button" type="button" class="card-btn btn-primary btn-lg"><a
                                    class="txt-dec">Purchase now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card box-shw" style="width: 18rem;" data-aos="fade-up">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <img class="" src="">
                        <p class="card-head">Popular Plan</p>
                        <div class="card-text"><span>$</span><span class="fnt-30">6999</span></div>
                        <p class="gry-txt">No credit card required</p>
                        <div class="border-bot"></div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Live chat + email + FB Messenger
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                3-year conversations history
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Advanced widget customization
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                24/7 system monitoring facility
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Engage visitors via visitor list
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Engage with automatic messages
                            </div>

                        </div>

                        <div class="mt-4 mb-2">
                            <div class="button1" class="button" type="button" class="card-btn btn-primary btn-lg"><a
                                    class="txt-dec">Purchase now</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="card" style="width: 18rem;" data-aos="fade-up">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <img class="" src="">
                        <p class="card-head">Popular Plan</p>
                        <div class="card-text"><span class="fnt-30">Contact Us</span></div>
                        <p class="gry-txt">No credit card required</p>
                        <div class="border-bot"></div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Live chat + email + FB Messenger
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                3-year conversations history
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Advanced widget customization
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                24/7 system monitoring facility
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Engage visitors via visitor list
                            </div>

                        </div>
                        <div class="d-flex gap-2">
                            <div>
                                <img src="assets/images/star-icon.png">
                            </div>
                            <div class="fnt-16">
                                Engage with automatic messages
                            </div>
                        </div>
                        <div class="mt-4 mb-2">
                            <div class="button1" class="button" type="button" class="card-btn btn-primary btn-lg"><a
                                    class="txt-dec">Purchase now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-action-link></app-action-link>

</div>