<div class="bg_img">
    <div class="container wht-txt">
        Pricing
    </div>
</div>

<div class=" container">
    <div class="grn-txt mt-5">
        Tailored Solutions for Every Need
    </div>
    <p class="para1 mt-2">At Hasna Technology, we believe in offering flexible pricing options that cater to your unique
        requirements. Whether you're a small business or an enterprise, our pricing plans are designed to provide value
        and quality, ensuring you receive the best solution for your goals.</p>
</div>

<div class="container mb-5">
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card" data-aos="fade-up">
                <div class="card-body">
                    <div class="d-flex flex-column h-100">
                        <div>
                            <p class="card-head mb-0 mt-5">Learning Consultation</p>
                            <div class="card-text"><span>$</span><span class="fnt-22">1399</span><span
                                    class="fnt-30">Free</span></div>
                            <p class="gry-txt">No credit card required</p>
                            <div class="border-bot"></div>
                        </div>
                        <div class="flex-1">
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p>
                                    Expert consultation to assess your eLearning needs.


                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p>
                                    Development of your first eLearning course*.

                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p>
                                    Initial guidance on content structuring and design.
                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p>
                                    Ideal for those exploring eLearning for the first time.
                                </p>

                            </div>
                        </div>
                        <div>

                            <div class="mt-4 mb-2">
                                <div class="button text-center" type="button">
                                    <a class="btn btn-primary text-white" routerLink="/contact-us">Purchase now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card box-shw" data-aos="fade-up">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <div class="d-flex flex-column h-100">
                        <div>
                            <p class="card-head mb-0 mt-5">eLearning Solution</p>
                            <div class="card-text"><span>$</span><span class="fnt-30">6999*</span></div>
                            <p class="gry-txt">No credit card required</p>
                            <div class="border-bot"></div>
                        </div>
                        <div class="flex-1">
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p class="">
                                    Creation of a fully customized eLearning course.
                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p class="">
                                    User-friendly interface and interactive design.
                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p class="">
                                    24/7 system monitoring facility
                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p class="">
                                    Basic learner tracking and progress reporting.
                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p class="">
                                    Suitable for small-scale eLearning initiatives.
                                </p>

                            </div>
                        </div>
                        <div>
                            <div class="mt-4 mb-2">
                                <div class="button text-center" type="button">
                                    <a class="btn btn-primary text-white" routerLink="/contact-us">Purchase now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" data-aos="fade-up">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <div class="d-flex flex-column h-100">
                        <div>
                            <p class="card-head mb-0 mt-5">Learning Technology Partner</p>
                            <div class="card-text"><span class="fnt-30">Contact Us</span></div>
                            <p class="gry-txt">No credit card required</p>
                            <div class="border-bot"></div>
                        </div>
                        <div class="flex-1">
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p class="">
                                    Implementation of a robust LMS.
                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p class="">
                                    Regular maintenance, updates, and support.
                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p class="">
                                    Tailored solutions based on your specific needs.
                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p class="">
                                    Custom pricing and services based on your requirements.
                                </p>

                            </div>
                            <div class="d-flex gap-3">
                                <div>
                                    <img src="assets/images/star-icon.png">
                                </div>
                                <p class="">
                                    Advanced learner tracking, analytics, and reporting.
                                </p>

                            </div>
                        </div>
                        <div>
                            <div class="mt-4 mb-2">
                                <div class="button text-center" type="button">
                                    <a class="btn btn-primary text-white" routerLink="/contact-us">Purchase now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<div class="mb-5"></div>