<div class="bg_img">
    <div class="container wht-txt">
        Data Protection Policy
    </div>
</div>

<div>
    <div class="container mb-5 mt-5">

        <h3>Introduction</h3>
        <p>At Hasna Technology, we are committed to protecting the privacy and security of our clients' and users'
            personal data. This Data Protection Policy outlines our practices concerning the collection, use, and
            safeguarding of personal information.</p>

        <h3>Scope</h3>
        <p>This policy applies to all personal data collected, processed, or stored by Hasna Technology, whether through
            our websites, applications, or any other business activities.</p>

        <h3>Principles</h3>

        <h4>1. Data Minimization</h4>
        <p>We collect only the necessary personal data required for the purpose it was obtained. We do not process
            excessive or irrelevant information.</p>

        <h4>2. Consent</h4>
        <p>We obtain clear and unambiguous consent from individuals before collecting or processing their personal data.
        </p>

        <h4>3. Data Security</h4>
        <p>We implement robust security measures to protect personal data from unauthorized access, disclosure,
            alteration, or destruction.</p>

        <h4>4. Data Accuracy</h4>
        <p>We strive to maintain accurate and up-to-date personal data and promptly correct any inaccuracies.</p>

        <h4>5. Data Retention</h4>
        <p>We retain personal data for the minimum period necessary for the purposes for which it was collected, or as
            required by law.</p>

        <h4>6. Data Subject Rights</h4>
        <p>We respect the rights of data subjects, including the right to access, rectify, erase, restrict processing,
            and data portability. Requests can be made via our <b><a routerLink="/contact-us">Contact Information</a></b>.
        </p>

        <h4>7. Data Sharing</h4>
        <p>We only share personal data with third parties when necessary for the fulfillment of our services, and we
            ensure that they also uphold data protection standards.</p>

        <h4>8. Data Breach Response</h4>
        <p>In the event of a data breach, we have procedures in place to notify affected individuals and authorities as
            required by law.</p>

        <h4>9. Data Protection Officer (DPO)</h4>
        <p>We have appointed a Data Protection Officer responsible for overseeing data protection compliance. Contact
            details are available at our <b><a routerLink="/contact-us">Contact Information</a></b>.</p>

        <!-- <h3>Compliance</h3>
        <p>We comply with all applicable data protection laws and regulations, including but not limited to the <i>[List
                Applicable Regulations Here]</i>.</p> -->

        <h3>Contact Information</h3>
        <p>If you have any questions, concerns, or requests regarding our Data Protection Policy, please <a routerLink="/contact-us">contact</a> our
            Data Protection Officer</p>
       

        <h3>Review and Updates</h3>
        <p>This Data Protection Policy is subject to periodic review and updates. Any changes will be communicated
            through our website or directly to affected parties.</p>

    </div>
</div>