<div class="bg_img">
    <!-- [style]="{'background-image': 'url(' + this.image_url + data.image + ')'}"> -->
    <h1 class="container text-white" *ngIf="data">
        {{data.title}}
    </h1>
</div>
<div class="container pt-5" *ngIf="data">
    <div class="row">
        <div class="col-md-8">
            <div class="me-5 pe-5" [innerHTML]="data.content"></div>
        </div>
        <div class="col-md-4">
            <!-- <div class="list_clr" [innerHTML]="list"> -->
            <div class="list_clr" *ngIf="this.related">
                <h3 class='mb-3'>Recent Blogs</h3>
                <!-- {{this.related | json}} -->
                <div *ngFor="let data of this.related" class="shadow mb-5 bg-white rounded">
                    <img [src]="this.image_url + data.image" alt="{{ data?.title }}" class="img-fluid" />
                    <div class="p-3">
                        <a class="hover:underline normal" [routerLink]="['/', pageType , data.slug]">{{ data.title
                            }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-action-link></app-action-link>
</div>