.bg_img{
    background-image: url(../../assets/images/ser_bg2.png);
    height: 246px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    padding-top: 90px;
}
.bg-grn{
    background-color: #049479;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    padding: 16px;
    background-color: #049479;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
}
