.bg_img{
    background-image: url(../../assets/images/ser_bg2.png);
    height: 246px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    padding-top: 90px;
}
