<div class="bg_img">
    <h1 class="container text-white">
        Blogs
    </h1>
</div>
<div class="container pt-5">
    <h2>Navigating the Digital Learning Landscape</h2>
    <p>Explore the forefront of digital education and organizational development through our insightful eLearning blog.
        We are excited to present a collection of articles that delve into key trends, technologies, and strategies
        shaping the eLearning, LMS, and LXP landscape. Join us on this journey of discovery and empowerment.</p>
</div>

<div class="green-bg"></div>
<div class="container mt-50">
    <!-- <div class="d-flex gap-4 mb-5 flex-wrap">
        <div class="card" routerLink="{{service.getLink(item, 'blog')}}" *ngFor="let item of service.blogs">
            <img class="card-img-top" src="{{item.img}}" alt="{{item.title}}">
            <div class="card-body">
                <h3 [innerHTML]="item.title"></h3>
                <p [innerHTML]="item.description"></p>
                <a routerLink="{{service.getLink(item, 'blog')}}" >Learn more</a>
            </div>
        </div>
    </div> -->
    <div class="row mb-3">
        <div class="col-lg-6 mt-5 bg" routerLink="{{mainService.getLink(item, 'blog')}}" *ngFor="let item of blogs">
            <div class="row_container shadow-lg">
                <div class="row_header" [style.background-image]="'url(' + imgPreText + item.image + ')'"
                    [attr.alt]="item.title">

                    <!-- <img class="img-fluid" src="{{imgPreText}}{{item.image}}" alt="{{item.title}}"> -->
                </div>
                <div class="row_body p-3">
                    <h3>{{item.title}}</h3>
                    <p class="truncated_text">{{item.description}}</p>
                </div>
                <div class="row_footer p-3">
                    <a routerLink="{{mainService.getLink(item, 'blog')}}">Learn more</a>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end mt-4">
                <li class="page-item" [class.disabled]="!pagination.prev_page_url">
                    <a class="page-link" (click)="changePage(pagination.prev_page_url)" aria-label="Previous">
                        <span aria-hidden="true"><img src="assets/images/arrow_left.svg" alt=""></span>
                    </a>
                </li>
                <li class="page-item" *ngFor="let link of pagination.links" [class.active]="link.active">
                    <a class="page-link" (click)="changePage(link.url)" *ngIf="link.url">{{link.label}}</a>
                </li>
                <li class="page-item" [class.disabled]="!pagination.next_page_url">
                    <a class="page-link" (click)="changePage(pagination.next_page_url)" aria-label="Next">
                        <span aria-hidden="true"><img src="assets/images/arrow_right.svg" alt=""></span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <app-action-link></app-action-link>
</div>