<div class="bg_img">
    <h1 class="container text-white">
        Blogs
    </h1>
</div>
<div class="container pt-5">
    <h2>Navigating the Digital Learning Landscape</h2>
    <p>Explore the forefront of digital education and organizational development through our insightful eLearning blog.
        We are excited to present a collection of articles that delve into key trends, technologies, and strategies
        shaping the eLearning, LMS, and LXP landscape. Join us on this journey of discovery and empowerment.</p>
</div>

<div class="green-bg"></div>
<div class="container mt-50">
    <div class="row mb-3">
        <div class="col-lg-6 mt-5 bg" routerLink="{{mainService.getLink(item, 'blog')}}" *ngFor="let item of blogs">
            <div class="row_container shadow-lg">
                <div class="row_header" [style.background-image]="'url(' + imgPreText + item.image + ')'"
                    [attr.alt]="item.title">
                </div>
                <div class="row_body p-3">
                    <h3>{{item.title}}</h3>
                    <p class="truncated_text">{{item.description}}</p>
                </div>
                <div class="row_footer p-3">
                    <a routerLink="{{mainService.getLink(item, 'blog')}}">Learn more</a>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation example" *ngIf="pagination.length > 3">
            <ul class="pagination justify-content-end mt-4 gap-1">
                <li *ngFor="let link of pagination" [class.active]="link.label == currentPage">
                    <a class="page-link rounded" (click)="changePage(link)" [innerHTML]="link.label"
                        *ngIf="link.url != null" [class.disabled]="link.url === null">
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <app-action-link></app-action-link>
</div>