<div id="secondpage"></div>
<div class="">
  <div class="container">
    <div class="d-flex">
      <div>
        <div class="landing_sec">EMPOWERING ORGANIZATIONAL</div>
        <h2 class="fnt_50">Transformation through People</h2>
        <p class=" mt-3 fnt-18">At <span class="clr_grn"><b>Hasna Technology</b></span> we believe in the power of
          people to drive transformative change. Through innovative learning solutions, we empower individuals to
          acquire new skills, embrace digital transformation, and spearhead organizational growth.</p>
        <div class="button1" class="button" type="button" class="btn btn-primary btn-lg"><a class="txt-dec"
            href="mailto:info@hasnatech.com?subject=Need your service: from website">Contact Us</a></div>
      </div>
      <div>
        <img src="assets/images/home.png">
      </div>
    </div>

  </div>

</div>

<!-- //Section 2 -->
<div id="thirdpage"></div>
<div class="container-fluid mt-5 bg-clr">
  <div class="container">
    <div class="d-flex gap-3">
      <div class="">
        <div class="fnt-54 abs-txt pb-3">WHAT WE DO</div>
        <p class="wht_txt mar">Hasna Technology International Private limited is a registered company in Singapore and
          functional office in Chennai. It is a leading software development company that offers eLearning and software
          solutions are specialised in web development services.</p>
        <p class="wht_txt">Be it creation of interactive design or software solutions client get the latest technology
          solution at its best. Our services include web development, web designing, e-commerce development, e-Learning
          development, software development, and mobile app development. As specialists in understanding and exploiting
          the fast growing technology, we provide consultation, advice and support to our customers in providing
          required services to increase financial revenue.</p>
        <p class="wht_txt">We believe that we can make your dreams come true by creating a beautiful world using latest
          technology.</p>
      </div>
      <div>
        <img class="pad-top" src="assets/images/table.png">
      </div>
    </div>
  </div>

</div>
<div class="space"></div>

<!-- //Section 3 -->
<div id="fourthpage"></div>
<div class="">
  <div class="wid-1366">
    <div class="fnt-55">ELEARNING SERVICE</div>
    <div class="d-flex wrap">

      <div class="flex">

        <div class="card" style="width: 18rem;" data-aos="fade-up">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <img class="" src="assets/images/img9.png">
            <div class="hov-txt">
              <p class="card-head">RAPID DEVELOPMENT</p>
              <p class="card-text">We use rapid development tools like Articulate Storyline, Rise, Lectora, Captivate,
                ect to build elearning courses.</p>
              <div class="hover-content">
                <!-- <ul>
                        <li>
                        Small business
                      </li>
                    </ul> -->

              </div>
            </div>

            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>

        </div>

      </div>

      <div class="flex">

        <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <img class="" src="assets/images/img2.png">
            <p class="card-head">CUSTOM DEVELOPMENT</p>
            <p class="card-text">We use latest technology framework like React, Angular, etc to deliver our custom HTML5
              courses.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>

      </div>
      <div class="flex">

        <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <img class="" src="assets/images/img3.png">
            <p class="card-head">MOBILE LEARNING</p>
            <p class="card-text">Seamless access to course content on mobile devices, enhancing learning flexibility and
              convenience.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>

      </div>

      <div class="flex">

        <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <img class="" src="assets/images/img7.png">
            <p class="card-head">PPT TO ELEARNING</p>
            <p class="card-text">Transform PowerPoint presentations into interactive eLearning modules for enhanced
              engagement.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>

      </div>

      <div class="flex">

        <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <img class="" src="assets/images/img8.png">
            <p class="card-head">FLASH TO HTML5</p>
            <p class="card-text">Modernize legacy Flash-based content, converting it to HTML5 for compatibility and
              improved performance.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>

      </div>

      <div class="flex">

        <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <img class="" src="assets/images/img5.png">
            <p class="card-head">TRANSLATION & LOCALIZATION</p>
            <p class="card-text">Adapt eLearning content to global audiences by translating and localizing materials for
              cultural relevance.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>

      </div>

      <div class="flex">

        <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <img class="" src="assets/images/img1.png">
            <p class="card-head">LEGACY CONTENT CONVERSION</p>
            <p class="card-text">Upgrade outdated eLearning materials to current formats, ensuring continued usability
              and effectiveness.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>

      </div>

      <div class="flex">

        <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <img class="" src="assets/images/img6.png">
            <p class="card-head">GAMIFICATION</p>
            <p class="card-text">Integrate game elements into eLearning to boost motivation, participation, and learning
              outcomes.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>

      </div>

      <div class="flex">

        <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <img class="" src="assets/images/img4.png">
            <p class="card-head">BLENDED LEARNING</p>
            <p class="card-text">Combine online and offline learning methods to create holistic educational experiences
              for learners.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>

      </div>


    </div>

  </div>

  <div class="space_wht"></div>
</div>

<!-- Section 4 -->
<div id="fifthpage"></div>
<div class="bg-clr2">
  <div class="container top_pad">
    <div class="head-txt">
      Process
    </div>
    <div>
      <img class="mt-4 max-wid" src="assets/images/process.png">
    </div>
  </div>
</div>
<!-- 
<div>
  
  <h1 #counter [countUp]="param2" [duration]="duration"></h1>
  <h1 #counter [countUp]="param3" [duration]="duration"></h1>
  <h1 #counter [countUp]="param4" [duration]="duration"></h1>
</div> -->

<div class="black_box mb-4" #counter>
  <div class="middle">
    <div class="flex">
      <div class="num-panel">
        <div class="num">
          <span [countUp]="param1" [duration]="duration"></span>+
          <div class="title">
            COURSES
          </div>
        </div>
      </div>
      <div class="num-panel">
        <div class="num">
          <span [countUp]="param2" [duration]="duration"></span>+
          <div class="title">
            HOURS OF LEARNING
          </div>
        </div>
      </div>
      <div class="num-panel">
        <div class="num">
          <span [countUp]="param3" [duration]="duration"></span>+
          <div class="title">
            CLIENTS
          </div>
        </div>
      </div>
      <div class="num-panel">
        <div class="num">
          <span [countUp]="param4" [duration]="duration"></span>M+
          <div class="title">
            ACCESSED
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="black_box mb-4">
  <div class="middle">
    <div class="flex">
      <div class="num-panel">
        <div class="num">
          <span>{{count}}</span>+
          <div class="title">
            COURSES
          </div>
        </div>
      </div>
      <div class="num-panel">
        <div class="num">
          <span>{{count1}}</span>+
          <div class="title">
            HOURS OF LEARNING
          </div>
        </div>
      </div>
      <div class="num-panel">
        <div class="num">
          <span>{{count2}}</span>+
          <div class="title">
            CLIENTS
          </div>
        </div>
      </div>
      <div class="num-panel">
        <div class="num">
          <span>{{count3 + 'M'}}</span>+
          <div class="title">
            ACCESSED
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- section-5 -->
<div id="sixthpage"></div>
<div class="portfolio">
  <div class="top_pad mt-4">
    <div class="head-txt mb-5">
      PORTFOLIO
    </div>

    <div class="d-flex_1">
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_1.jpg">
        </div>
      </div>
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_2.jpg">
        </div>
      </div>
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_3.jpg">
        </div>
      </div>
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_4.png">
        </div>
      </div>
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_5.png">
        </div>
      </div>
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_6.jpg">
        </div>
      </div>


    </div>

    <div class="d-flex">
      <div class="flex_wid">
        <div class="elearning">
          <a target="_blank" href="https://rise.articulate.com/share/uheNUhuBV0_Fzh9tHotVBeS5dZW3Jb1B#/?_k=tcez7a">
            <img class="" src="assets/images/elearning.png">
          </a>
        </div>
      </div>
      <div class="flex_wid">
        <div class="elearning">
          <a target="_blank"
            href="https://allisongoldthorpe.com/wp-content/uploads/articulate_uploads/153-_Blue_Beta_Facilities_Orientation/index.html#/?_k=zbizn1">
            <img class="" src="assets/images/elearning2.png">
          </a>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- section 6 -->

<div class="Location">
  <div class="container top_pad mt-3">
    <div class="">
      <div class="mb-5 fnt-48">Office Location</div>
    </div>
    <div class="d-flex_2">
      <div class="flex">
        <div class="fnt-27">
          Hasna Technology
        </div>
        <div class="d-flex_3 mt-4 mb-4">
          <div class="">
            <img src="assets/images/india.png">
          </div>
          <div class="fnt-27">
            India</div>
        </div>
        <div class="wid190">
          Old No 30 New No 69,
          Malayappan Street
          Broadway, Chennai
          Tamilnadu, India
          Pincode: 600001
        </div>
      </div>
      <div class="flex">
        <div class="fnt-27">
          Hasna Technology International Pte Ltd
        </div>
        <div class="d-flex_3 mt-4 mb-4">
          <div class="">
            <img src="assets/images/singapore.png">
          </div>
          <div class="fnt-27">
            Singapore</div>
        </div>
        <div class="wid100">
          122 Eunos Avenue 7<br>
          #06-04
          <br>Richfield Industrial Center
          Singapore: 409575<br>
          Mobile: <a href="tel: +65 8101 6474"><u class="clr_grn">+65 8101 6474</u></a>
        </div>
      </div>
    </div>

  </div>
</div>