<div id="secondpage"></div>
<div class="">
  <div class="container">
    <div class="d-flex">
      <div class="blur-bg">
        <div class="landing_sec">EMPOWERING ORGANIZATIONAL</div>
        <h2 class="fnt_50">Transformation through People</h2>
        <p class=" mt-3 fnt-18">At <span class="clr_grn"><b>Hasna Technology</b></span> we believe in the power of
          people to drive transformative change. Through innovative learning solutions, we empower individuals to
          acquire new skills, embrace digital transformation, and spearhead organizational growth.</p>
        <div class="button1" class="button" type="button" class="btn btn-primary btn-lg"><a class="txt-dec"
            href="mailto:info@hasnatech.com?subject=Need your service: from website">Contact Us</a></div>
      </div>
      <div>
        <img src="assets/images/home.png">
      </div>
    </div>

  </div>

</div>

<!-- //Section 2 -->
<div id="thirdpage"></div>
<div class="container-fluid mt-5 bg-clr">
  <div class="container">
    <div class="d-flex-5">
      <div class="">
        <div class="fnt-54 abs-txt pb-3">WHAT WE DO</div>
        <p class="wht_txt">Hasna Technology International Private limited is a registered company in Singapore and
          functional office in Chennai. It is a leading software development company that offers eLearning and software
          solutions are specialised in web development services.</p>
        <p class="wht_txt">Be it creation of interactive design or software solutions client get the latest technology
          solution at its best. Our services include web development, web designing, e-commerce development, e-Learning
          development, software development, and mobile app development. As specialists in understanding and exploiting
          the fast growing technology, we provide consultation, advice and support to our customers in providing
          required services to increase financial revenue.</p>
        <p class="wht_txt">We believe that we can make your dreams come true by creating a beautiful world using latest
          technology.</p>
      </div>
      <div>
        <img class="pad-top" src="assets/images/table.png">
      </div>
    </div>
  </div>

</div>

<!-- //Section 3 -->
<div id="fourthpage"></div>
<div class="bg-gry">
<div class="container">
  <div class="wid-1366">
    <div class="fnt-55">What We Offer</div>
    <div class="d-flex">

      <div class="flex d-flex align-items-center justify-content-around">

        <div class="card" style="width: 18rem;" data-aos="fade-up"*ngFor="let item of this.service.homecard;">

          <div class="card-body">
            <img class="" src="{{item.image}}">
            <div class="hov-txt">
              <p class="card-head">{{item.heading}}</p>
              <p class="card-text">{{item.paragraph}}</p>
              <div class="mt-2 mb-2">
                <div class="button1" class="button" type="button" class="card-btn btn-primary btn-lg"><a
                        class="txt-dec">Learn More</a>
                </div>
            </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
</div>

<!-- Section 4 -->
<div id="fifthpage"></div>
<div class="bg-clr2">
  <div class="container top_pad">
    <div class="head-txt">
      Our Process
    </div>
    <div>
      <img class="mt-4 max-wid" src="assets/images/process.png">
    </div>
  </div>
</div>
<!-- 
<div>
  
  <h1 #counter [countUp]="param2" [duration]="duration"></h1>
  <h1 #counter [countUp]="param3" [duration]="duration"></h1>
  <h1 #counter [countUp]="param4" [duration]="duration"></h1>
</div> -->

<!-- <div class="black_box mb-4" #counter>
  <div class="middle">
    <div class="flex">
      <div class="num-panel">
        <div class="num">
          <span [countUp]="param1" [duration]="duration"></span>+
          <div class="title">
            COURSES
          </div>
        </div>
      </div>
      <div class="num-panel">
        <div class="num">
          <span [countUp]="param2" [duration]="duration"></span>+
          <div class="title">
            HOURS OF LEARNING
          </div>
        </div>
      </div>
      <div class="num-panel">
        <div class="num">
          <span [countUp]="param3" [duration]="duration"></span>+
          <div class="title">
            CLIENTS
          </div>
        </div>
      </div>
      <div class="num-panel">
        <div class="num">
          <span [countUp]="param4" [duration]="duration"></span>M+
          <div class="title">
            ACCESSED
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- section-5 -->
<div id="sixthpage"></div>
<!-- <div class="portfolio">
  <div class="top_pad mt-4">
    <div class="head-txt mb-5">
      PORTFOLIO
    </div>

    <div class="d-flex_1">
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_1.jpg">
        </div>
      </div>
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_2.jpg">
        </div>
      </div>
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_3.jpg">
        </div>
      </div>
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_4.png">
        </div>
      </div>
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_5.png">
        </div>
      </div>
      <div class="flex_wid">
        <div class="portfolio_wid">
          <img class="" src="assets/images/portfolio_6.jpg">
        </div>
      </div>


    </div>

    <div class="d-flex">
      <div class="flex_wid">
        <div class="elearning">
          <a target="_blank" href="https://rise.articulate.com/share/uheNUhuBV0_Fzh9tHotVBeS5dZW3Jb1B#/?_k=tcez7a">
            <img class="" src="assets/images/elearning.png">
          </a>
        </div>
      </div>
      <div class="flex_wid">
        <div class="elearning">
          <a target="_blank"
            href="https://allisongoldthorpe.com/wp-content/uploads/articulate_uploads/153-_Blue_Beta_Facilities_Orientation/index.html#/?_k=zbizn1">
            <img class="" src="assets/images/elearning2.png">
          </a>
        </div>
      </div>
    </div>

  </div>

</div> -->

<!-- section 6 -->

<!-- <div class="Location">
  <div class="container top_pad mt-3">
    <div class="">
      <div class="mb-5 fnt-48">Office Location</div>
    </div>
    <div class="d-flex_2">
      <div class="flex">
        <div class="fnt-27">
          Hasna Technology
        </div>
        <div class="d-flex_3 mt-4 mb-4">
          <div class="">
            <img src="assets/images/india.png">
          </div>
          <div class="fnt-27">
            India</div>
        </div>
        <div class="wid190">
          Old No 30 New No 69,
          Malayappan Street
          Broadway, Chennai
          Tamilnadu, India
          Pincode: 600001
        </div>
      </div>
      <div class="flex">
        <div class="fnt-27">
          Hasna Technology International Pte Ltd
        </div>
        <div class="d-flex_3 mt-4 mb-4">
          <div class="">
            <img src="assets/images/singapore.png">
          </div>
          <div class="fnt-27">
            Singapore</div>
        </div>
        <div class="wid100">
          122 Eunos Avenue 7<br>
          #06-04
          <br>Richfield Industrial Center
          Singapore: 409575<br>
          Mobile: <a href="tel: +65 8101 6474"><u class="clr_grn">+65 8101 6474</u></a>
        </div>
      </div>
    </div>

  </div>
</div> -->

<!-- <div class="cara anim">

  <div class="owl-carousel owl-theme ">
      <div class="item">
          <div class="inner_item">
              <div class="img"><img class="img-fluid" src="assets/images/m2/caro1.png" alt=""></div>
              <div class="text">
                  <p class="m-0">The Cargill Cares Employee Disaster Relief Fund (EDRF) supports employees
                      globally during catastrophic events and natural disasters such as war, hurricanes,
                      tornadoes, wildfires, etc.</p>
              </div>
          </div>
      </div>

      <div class="item">
          <div class="inner_item">
              <div class="img"><img class="img-fluid" src="assets/images/m2/caro2.png" alt=""></div>
              <div class="text">
                  <p class="m-0">It also provides assistance during personal disasters like house fires or in-home
                      flooding.</p>
              </div>
          </div>
      </div>

      <div class="item">
          <div class="inner_item">
              <div class="img"><img class="img-fluid" src="assets/images/m2/caro3.png" alt=""></div>
              <div class="text">
                  <p class="m-0">The fund offers financial aid and support for basic needs such as food, housing,
                      and transportation.</p>
              </div>
          </div>
      </div>
  </div>
</div> -->